<%- include('../partials/header', { title: 'New Open Mic'} ) %>

<h2>Open Mic Details</h2>
<section id="show-page">
    <div class="title">Venue: </div>
    <div class="data"><%= OpenMic.venue %></div>
    <div class="title">Address: </div>
    <div class="data"><%= OpenMic.address %></div>
    <div class="title">Day: </div>
    <div class="data"><%= OpenMic.openMicDay %></div>
    <div class="title">Time: </div>
    <div class="data"><%= OpenMic.time %></div>
    <div class="title">Is there a Band? </div>
    <div class="data"><%= OpenMic.band %></div>
    
    
    
   
</section> 
 <br><br<h2> Share Your Review: </h2>
 <form id="add-open-mic-review-form" method="POST" 
 action="/open-mics/<%= OpenMic.id%>/reviews">
<br>
 <textarea name="experience"></textarea>
 <br>
 <label>Rating: </label>
 <br>
 <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
 </select> <br>
 <input class="button" type="submit" value="Add My Review">
</form>

<%  if (OpenMic.reviews) { %> 
    <table class="reviews">
        <thead>
            <tr>
                <th>Date</th>
                <th>Review</th>
                <th>Rating</th>
                <th>Optons</th>
            </tr>
        </thead>
        <tbody>
         
            <% let total = 0 %>
            <% OpenMic.reviews.forEach(function(r) { %>
            <% total += r.rating %>
                <tr>
                    <td><%= r.createdAt.toLocaleDateString() %></td>
                    <td><%= r.experience %></td>
                    <td><%= r.rating %></td>
                    <td>
                        
                    <form action="<%= OpenMic._id %>/reviews/<%= r._id %>/delete" method="POST">
                        <button type="submit"> Remove </button>
                    </form>
                    <form action="/open-mics/<%= OpenMic._id %>/reviews/<%= r._id %>/edit" method="GET">
                        <button type="submit"> Edit </button> 
                    </form>
                    
                    </td>
                </tr>
                    <% }); %>
                <tr>
                    <td colspan="2">Rating Average:</td>
                    <td><%= (total / OpenMic.reviews.length).toFixed(1) %></td>
                </tr>
        </tbody>
             
    </table>
    <% } else { %>
    <h5> No Open Mic Reviews Yet...</h5>
<% } %>

